{
    "openapi": "3.0.0",
    "info": {
        "title": "Job Finder API",
        "description": "API para el sistema de búsqueda y gestión de empleos",
        "contact": {
            "name": "Soporte Job Finder",
            "email": "admin@jobfinder.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Servidor de desarrollo"
        }
    ],
    "paths": {
        "/api/applications/my": {
            "get": {
                "tags": [
                    "Postulaciones"
                ],
                "summary": "Obtener mis postulaciones",
                "description": "Obtiene las postulaciones del usuario autenticado",
                "operationId": "getMyApplications",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Número de elementos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por estado",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pendiente",
                                "revisando",
                                "aceptada",
                                "rechazada"
                            ],
                            "example": "pendiente"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mis postulaciones obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Mis postulaciones obtenidas exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/applications": {
            "post": {
                "tags": [
                    "Postulaciones"
                ],
                "summary": "Crear nueva postulación",
                "description": "Crea una nueva postulación para un trabajo",
                "operationId": "createApplication",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "trabajo_id",
                                    "cv"
                                ],
                                "properties": {
                                    "trabajo_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "cv": {
                                        "description": "Archivo CV en PDF",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "mensaje": {
                                        "type": "string",
                                        "example": "Me interesa mucho esta oportunidad..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Postulación enviada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Postulación enviada exitosamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error de validación"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/applications/{id}/status": {
            "put": {
                "tags": [
                    "Administración"
                ],
                "summary": "Actualizar estado de postulación",
                "description": "Actualiza el estado de una postulación (solo administradores)",
                "operationId": "updateApplicationStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la postulación",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "estado"
                                ],
                                "properties": {
                                    "estado": {
                                        "type": "string",
                                        "enum": [
                                            "pendiente",
                                            "revisando",
                                            "aceptada",
                                            "rechazada"
                                        ],
                                        "example": "revisando"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Estado de postulación actualizado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Estado de postulación actualizado correctamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Postulación no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Postulación no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/jobs/{jobId}/applications": {
            "get": {
                "tags": [
                    "Administración"
                ],
                "summary": "Obtener postulaciones de un trabajo",
                "description": "Obtiene todas las postulaciones de un trabajo específico",
                "operationId": "getJobApplications",
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "description": "ID del trabajo",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Número de elementos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por estado",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pendiente",
                                "revisando",
                                "aceptada",
                                "rechazada"
                            ],
                            "example": "pendiente"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Postulaciones del trabajo obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Postulaciones del trabajo obtenidas exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 25
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/applications": {
            "get": {
                "tags": [
                    "Administración"
                ],
                "summary": "Obtener todas las postulaciones",
                "description": "Obtiene todas las postulaciones del sistema (solo administradores)",
                "operationId": "getAllApplications",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Número de elementos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por estado",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pendiente",
                                "revisando",
                                "aceptada",
                                "rechazada"
                            ],
                            "example": "pendiente"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Buscar por nombre del postulante",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Juan Pérez"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Todas las postulaciones obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Todas las postulaciones obtenidas exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 100
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/applications/stats": {
            "get": {
                "tags": [
                    "Administración"
                ],
                "summary": "Obtener estadísticas de postulaciones",
                "description": "Obtiene estadísticas detalladas de las postulaciones",
                "operationId": "getApplicationStats",
                "responses": {
                    "200": {
                        "description": "Estadísticas de postulaciones obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Estadísticas de postulaciones obtenidas exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "total_applications": {
                                                    "type": "integer",
                                                    "example": 500
                                                },
                                                "applications_by_status": {
                                                    "type": "object"
                                                },
                                                "applications_by_month": {
                                                    "type": "object"
                                                },
                                                "top_applicants": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Iniciar sesión",
                "description": "Autentica un usuario y devuelve un token JWT",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "usuario@ejemplo.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Inicio de sesión exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Inicio de sesión exitoso"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "bearer"
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 3600
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciales inválidas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Credenciales inválidas"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error de validación"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Registrar nuevo postulante",
                "description": "Crea una nueva cuenta de postulante",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nombres",
                                    "apellidos",
                                    "email",
                                    "password",
                                    "numero_documento",
                                    "tipo_documento",
                                    "fecha_nacimiento"
                                ],
                                "properties": {
                                    "nombres": {
                                        "type": "string",
                                        "example": "Juan"
                                    },
                                    "apellidos": {
                                        "type": "string",
                                        "example": "Pérez"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "juan.perez@ejemplo.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "123456"
                                    },
                                    "numero_documento": {
                                        "type": "string",
                                        "example": "12345678"
                                    },
                                    "tipo_documento": {
                                        "type": "string",
                                        "enum": [
                                            "CC",
                                            "CE",
                                            "TI",
                                            "PP"
                                        ],
                                        "example": "CC"
                                    },
                                    "fecha_nacimiento": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1990-01-01"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registro exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Registro exitoso. Bienvenido al portal de trabajo."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "bearer"
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 3600
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación o email duplicado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "El email ya está registrado"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Obtener usuario autenticado",
                "description": "Devuelve la información del usuario autenticado",
                "operationId": "me",
                "responses": {
                    "200": {
                        "description": "Usuario obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario obtenido exitosamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token inválido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Cerrar sesión",
                "description": "Invalida el token JWT del usuario",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Sesión cerrada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sesión cerrada exitosamente"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al cerrar sesión",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error al cerrar sesión"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/refresh": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Refrescar token",
                "description": "Genera un nuevo token JWT",
                "operationId": "refresh",
                "responses": {
                    "200": {
                        "description": "Token refrescado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token refrescado exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "bearer"
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 3600
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No se pudo refrescar el token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No se pudo refrescar el token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/stats": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Obtener estadísticas del portal",
                "description": "Obtiene estadísticas generales del portal (público)",
                "operationId": "getStats",
                "responses": {
                    "200": {
                        "description": "Estadísticas del portal obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Estadísticas del portal obtenidas exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "total_jobs": {
                                                    "type": "integer",
                                                    "example": 150
                                                },
                                                "active_jobs": {
                                                    "type": "integer",
                                                    "example": 120
                                                },
                                                "total_applications": {
                                                    "type": "integer",
                                                    "example": 500
                                                },
                                                "total_users": {
                                                    "type": "integer",
                                                    "example": 200
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/metrics": {
            "get": {
                "tags": [
                    "Administración"
                ],
                "summary": "Obtener métricas del dashboard",
                "description": "Obtiene métricas detalladas para el dashboard administrativo",
                "operationId": "getMetrics",
                "responses": {
                    "200": {
                        "description": "Métricas del dashboard obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Métricas del dashboard obtenidas exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "jobs_by_status": {
                                                    "type": "object"
                                                },
                                                "applications_by_status": {
                                                    "type": "object"
                                                },
                                                "recent_activity": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "top_jobs": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Acceso denegado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Acceso denegado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/jobs": {
            "get": {
                "tags": [
                    "Trabajos"
                ],
                "summary": "Obtener lista de trabajos",
                "description": "Obtiene una lista paginada de trabajos con filtros opcionales",
                "operationId": "getJobs",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Número de elementos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Término de búsqueda",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "desarrollador"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Filtrar por estado activo",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": true
                        }
                    },
                    {
                        "name": "min_salary",
                        "in": "query",
                        "description": "Salario mínimo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": 2000000
                        }
                    },
                    {
                        "name": "max_salary",
                        "in": "query",
                        "description": "Salario máximo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": 5000000
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Campo para ordenar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "created_at"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trabajos obtenidos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajos obtenidos exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 50
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/jobs/{id}": {
            "get": {
                "tags": [
                    "Trabajos"
                ],
                "summary": "Obtener trabajo específico",
                "description": "Obtiene la información detallada de un trabajo",
                "operationId": "getJob",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del trabajo",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trabajo obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajo obtenido exitosamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trabajo no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajo no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/jobs": {
            "post": {
                "tags": [
                    "Administración"
                ],
                "summary": "Crear nuevo trabajo",
                "description": "Crea una nueva oferta de trabajo (solo administradores)",
                "operationId": "createJob",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "titulo",
                                    "descripcion",
                                    "empresa",
                                    "ubicacion",
                                    "tipo_contrato",
                                    "salario_min",
                                    "salario_max"
                                ],
                                "properties": {
                                    "titulo": {
                                        "type": "string",
                                        "example": "Desarrollador Full Stack"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "example": "Buscamos un desarrollador con experiencia en Laravel y Vue.js"
                                    },
                                    "empresa": {
                                        "type": "string",
                                        "example": "TechCorp"
                                    },
                                    "ubicacion": {
                                        "type": "string",
                                        "example": "Bogotá, Colombia"
                                    },
                                    "tipo_contrato": {
                                        "type": "string",
                                        "enum": [
                                            "tiempo_completo",
                                            "tiempo_parcial",
                                            "contrato",
                                            "freelance"
                                        ],
                                        "example": "tiempo_completo"
                                    },
                                    "salario_min": {
                                        "type": "number",
                                        "example": 3000000
                                    },
                                    "salario_max": {
                                        "type": "number",
                                        "example": 5000000
                                    },
                                    "requisitos": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Laravel",
                                            "Vue.js",
                                            "MySQL"
                                        ]
                                    },
                                    "beneficios": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Seguro médico",
                                            "Bonos de productividad"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Trabajo creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajo creado exitosamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error de validación"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/jobs/recent": {
            "get": {
                "tags": [
                    "Trabajos"
                ],
                "summary": "Obtener trabajos recientes",
                "description": "Obtiene una lista de trabajos recientes (público)",
                "operationId": "getRecentJobs",
                "responses": {
                    "200": {
                        "description": "Trabajos recientes obtenidos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajos recientes obtenidos exitosamente"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/jobs/{id}": {
            "put": {
                "tags": [
                    "Administración"
                ],
                "summary": "Actualizar trabajo",
                "description": "Actualiza la información de un trabajo existente",
                "operationId": "updateJob",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del trabajo",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "titulo": {
                                        "type": "string",
                                        "example": "Desarrollador Full Stack Senior"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "example": "Buscamos un desarrollador senior con experiencia en Laravel y Vue.js"
                                    },
                                    "empresa": {
                                        "type": "string",
                                        "example": "TechCorp"
                                    },
                                    "ubicacion": {
                                        "type": "string",
                                        "example": "Bogotá, Colombia"
                                    },
                                    "tipo_contrato": {
                                        "type": "string",
                                        "enum": [
                                            "tiempo_completo",
                                            "tiempo_parcial",
                                            "contrato",
                                            "freelance"
                                        ],
                                        "example": "tiempo_completo"
                                    },
                                    "salario_min": {
                                        "type": "number",
                                        "example": 4000000
                                    },
                                    "salario_max": {
                                        "type": "number",
                                        "example": 6000000
                                    },
                                    "requisitos": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Laravel",
                                            "Vue.js",
                                            "MySQL",
                                            "5+ años experiencia"
                                        ]
                                    },
                                    "beneficios": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Seguro médico",
                                            "Bonos de productividad",
                                            "Home office"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Trabajo actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajo actualizado exitosamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trabajo no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajo no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Administración"
                ],
                "summary": "Eliminar trabajo",
                "description": "Elimina un trabajo existente",
                "operationId": "deleteJob",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del trabajo",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trabajo eliminado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajo eliminado exitosamente"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trabajo no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trabajo no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/jobs/stats": {
            "get": {
                "tags": [
                    "Administración"
                ],
                "summary": "Obtener estadísticas de trabajos",
                "description": "Obtiene estadísticas detalladas de los trabajos",
                "operationId": "getJobStats",
                "responses": {
                    "200": {
                        "description": "Estadísticas de trabajos obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Estadísticas de trabajos obtenidas exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "total_jobs": {
                                                    "type": "integer",
                                                    "example": 150
                                                },
                                                "active_jobs": {
                                                    "type": "integer",
                                                    "example": 120
                                                },
                                                "inactive_jobs": {
                                                    "type": "integer",
                                                    "example": 30
                                                },
                                                "jobs_by_type": {
                                                    "type": "object"
                                                },
                                                "jobs_by_location": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Postulaciones",
            "description": "Endpoints para gestión de postulaciones"
        },
        {
            "name": "Autenticación",
            "description": "Endpoints para autenticación y gestión de usuarios"
        },
        {
            "name": "Dashboard",
            "description": "Endpoints para estadísticas y métricas"
        },
        {
            "name": "Trabajos",
            "description": "Endpoints para gestión de ofertas de trabajo"
        },
        {
            "name": "Administración",
            "description": "Endpoints exclusivos para administradores"
        }
    ]
}